<div class="card">
  <%= image_tag potfolio_item.thumb_image unless potfolio_item.thumb_image.nil? %>
  <p class="card-text">
    <span>
      <%= link_to potfolio_item.title, potfolio_show_path(potfolio_item)%>
    </span> <%= potfolio_item.subtitle%>
  </p>
</div>

