<div class="card" data-id="<%=  potfolio_item.id %>">
  <%= image_tag potfolio_item.thumb_image.url unless potfolio_item.thumb_image.nil? %>
  <p class="card-text">
    <span>
      <%= link_to potfolio_item.title, potfolio_show_path(potfolio_item)%>
    </span> <%= potfolio_item.subtitle%>
  </p>
</div>
